#about,
#services,
#contacts {
  /* background: #1c1c2a; */
  width: 100%;
  padding: 3% 10%;
  box-sizing: border-box;
}

.about_us {
  /* background: #fafafa; */
  width: 100%;
  padding: 5% 3%;
  /* border: 0px solid black; */
  border-radius: 40px;
  font-family: thin_o;
  margin: 3% 0% 10% 0%;
  font-size: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .about_us {
    width: 100%;
    border-radius: 0%;
    padding: 10%;
    margin: 0;
  }
}